
.container{
  position:relative;
  width: 50vh;
  height: 100vh;
  display: flex;
  justify-content: center; /*가로에서 가운데 */
  align-items: center;  /*세로에서 가운데*/
  flex-direction: column;
  text-align: center;
  border:1px;
  margin: auto;

}
.login {
  width: 70%;
  height: 30px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#userid{
  display: block;
  padding: 5px;
  width: 100%;

}
#userpass{
  display: block;
  padding: 5px;
  width: 100%;

}
#signUp {
  display: block;
  margin: 5px;
  width:100%;
  padding: 10px;
  border: 0px;
  background-color:gray;
  color:white;


}
